$pie-behavior: url(asset_path("PIE.htc",behaviour));
$pie-base-class: pie-element;
.pie-element {
  @include pie-element(relative);
}

$main-color: #B9F8EF;

$list-table-color: #EEEEEE;
$list-table-header: #CCCCCC;
$list-table-border: #000000;

$padding: 5px;


header {
  @include background(linear-gradient(lighten($main-color,5%), darken($main-color,30%)));
  @include pie;
  text-align: right;
  padding: 2px 100px 2px 20px;
  position: relative;

}

nav {
  font-weight: bold;
  vertical-align: middle;

  a {
    padding: 0;
  }

  ul {
    @include inline-block-list($padding);

    a {
      padding: $padding;
      text-decoration: none;

      &:hover {
        color: #999999;
      }
    }
  }

  .brand {
    float: left;
  }
}

footer {
  @include background(linear-gradient(darken($main-color,30%), darken($main-color,5%)));
  @include pie;
  text-align: center;
  padding: 8px 0;
  position: relative;
}


a {
  color: #000000;

  img {
    border: none;
  }
}

.container {
  width: 100%;
  background-color: $main-color;
}

.main {
  @include clearfix;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}


#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }

  p {
    margin: 8px 10px;
  }

  ul {
    margin: 0;
  }
}


.listTable {
  border: 1px solid $list-table-border;
  border-collapse: collapse;
  background-color: $list-table-color;
  width: 100%;
  margin: 1px;

  tr:hover {
    background-color: $list-table-header;
  }

  th {
    background-color: $list-table-header;
    border: 1px solid $list-table-border;
    padding: 3px
  }

  td {
    border: 1px solid $list-table-border;
    padding: 3px;

    a {
      padding: 1px 0 1px 23px;
    }
  }

}

.action_links a {
  padding: 1px 0 1px 23px;
}

.icons-search {
  height: 26px;
  padding-left: 23px;
}

$icons-spacing: 5px;
@import "icons/*.png";
@include all-icons-sprites;

