body {
  font: {
    family: verdana, Helvetica, Arial, Sans-serif;
    size: 14px;
  }
  line-height: 1.5em;
}

.listTable {
  text-align: left;

  .action, .date {
     text-align: center;
  }
}

form {
  text-align: center;
}
.formTable {
  width: 100%;
  text-align: left;
  padding: 10px;

  td {
    vertical-align: top;
    padding: 5px;
  }

  label {
    font-weight: bold;
    padding: 4px 5px;
  }

  input {
    width: 100%;
  }

  input[type='submit'] {
    width: auto;
  }
}

.action_links {
  float: right;
}

.blank-required {
  border: 2px solid #FF0000;
}
